#home{
    background:var(--secondaryColor);
}

.main__container{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
}

.main__content h1{
    font-size: 4rem;
    background-size: 100%;
}

.main__content p{
    margin:0 0 10px 0;
}

/* THEME*/
.theme-options-wrapper{
    display:flex;
    justify-content:center;

}

.theme-dot{
    height: 30px;
    width: 30px;
    border-radius:50%;
    margin:5px;
    border:2px solid var(--themedotborder);

    cursor:pointer;
    -webkit-box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow:-1px 1px 3px -1px   rgba(0,0,0,0.75);
}

.theme-dot:hover{
    border-width: 5px;
    /* height: 35px;
    width: 35px; */
}

#light-mode{
    background-color: #fff;
}

#blue-mode{
    background-color: #192734;
}
#green-mode{
    background-color: #78866b;
}
#purple-mode{
    background-color: #7E4C74;
}